# BOT FILE SHARING TELEGRAM

# BOT
APP_ID=10064016
API_HASH=b9ca5d9a6c625a890af28db4adf50cf4
TG_BOT_TOKEN=6980611537:AAF0ZPhgsnqAE0CzpbM9lc_9vF1Px7D4SMg
BOT_USERNAME=

# ID ADMIN YANG AKSES BOT
ADMINS=6824711323 1948147616
USERNAME_ADMINS=
BUTTONS=4

# ID FSUB -100 BISA CH/GC JIKA TIDAK DIISI BIARKAN 0
FSUB1=-1002035236535
FSUB2=-1001526366621
FSUB3=-1001898026780
FSUB4=-1001916251589
FSUB5=0
FSUB6=0
FSUB7=0
FSUB8=0
FSUB9=0
FSUB10=0

# ID DATABASE
CHANNEL_ID=-1002027693771
MONGO_URI=mongodb+srv://Ultra2:fadhil123@cluster0.triyami.mongodb.net/
DB_NAME=Ultra2

# PROTECT CONTENT True/False
PROTECT_CONTENT=False
